.footer-content{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #272224;

     p{
          color: white;
          font-size: 13px;
     }

     .logo{
          box-sizing: border-box;
          padding: 10px;
          width: 80%;
          display: flex;
          justify-content: flex-start;
     }

     .row{
          box-sizing: border-box;
          padding: 10px;
          width: 80%;
          display: flex;
          align-items: flex-start;
          justify-content: space-evenly;

          ul, ol {
               margin: 0;
               list-style: none;
          }
          
          li {
               margin: 0;
               padding: 5px;
               font-size: 11px;
          }

          h6{
               color: white;
               font-weight: bold;
               padding: 5px;
               font-size: 14px;
          }

          .icons{
               display: flex;
               flex: 2;
               justify-content: flex-start;
               gap: 10px;
               a {
                    font-size: 30px;
                    text-decoration: none;
                    color: white;
                    &:hover {
                      text-decoration: none;
                    }
               }
          }

          .col-1{
               flex: 1;
               height: fit-content;
               box-sizing: border-box;
               padding: 15px;
               border-left: 1px solid white;
          }
          .col-2{
               flex: 1;
               height: fit-content;
               box-sizing: border-box;
               padding: 15px;
               border-left: 1px solid white;
               
          }
          .col-3{
               flex: 1;
               height: fit-content;
               box-sizing: border-box;
               padding: 15px;
               border-left: 1px solid white;

          }
     }

     .end-links{
          box-sizing: border-box;
          padding: 20px 10px;
          margin-bottom: 30px;
          border-top: 1px solid rgba(255, 255, 255, 0.363);
          width: 80%;
          display: flex;

          .link{
               display: flex;
               justify-content: flex-start;
               gap: 10px;
               width: 40%;
               p{
                    font-size: 12px;
               }
          }
          .copyright{
               display: flex;
               justify-content: end;
               width: 60%;

               p{
                    font-weight: bold;
               }
          }
     }
}